*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}
:root {
  --colorDarkestBlue: #1C0C5B;
  --colorLighterBlue: #3D2C8D;
  --colorLighterBlueT: rgba( 61, 44, 128 , 0.9);
  --colorLightestBlue:#916BBF;
  --colorPurple:#C996CC;
}

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import '../styles/navbar.css';
@import "https://www.nerdfonts.com/assets/css/webfont.css"

